.banner-info i{
    font-size: 3rem;

}
.banner-info h3 {
font-size: 1.2rem;
}

.banner-info {
background-color:#BEBEBE;
}
@media (min-width: 768px) {
    .banner-info h3 {
        font-size: o.5rem;
    }
 }
